[submodule "verifiers"]
	path = deps/verifiers
	url = https://github.com/polyphilz/verifiers.git
[submodule "renderers"]
	path = deps/renderers
	url = git@github.com:PrimeIntellect-ai/renderers.git
[submodule "prime-envs"]
	path = deps/prime-envs
	url = git@github.com:PrimeIntellect-ai/prime-envs.git
[submodule "pydantic-config"]
	path = deps/pydantic-config
	url = https://github.com/PrimeIntellect-ai/pydantic-config
[submodule "prime-kernels"]
	path = deps/prime-kernels
	url = https://github.com/PrimeIntellect-ai/prime-kernels
